<!-- include header -->
<%- include('inc/_header') %>
<!-- /include header -->

<div class="login">
    <div class="Litem"><a href="http://localhost:3000/userList">Login</a></div>
    <div class="Litem"><a href="http://localhost:3000/register">Register</a></div>
</div>

<!-- include footer -->
<%- include('inc/_footer') %>
    <!-- /include footer -->